* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: ;
    font-family: 'Montserrat', sans-serif;; 
}

.container {
    width: 75%;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/*header*/
header{ 
    margin:30px 0px;
    /*debug*/
    /* background-color: pink; */
    /* height: 80px; */
}

.logo{
    border-right: 1px solid lightgray;
    width: 15%;
    margin-bottom: 30px;
}

.logo img{
    width: 100%;
    padding-right: 20px;
}

.menù{
    display: inline-block;
    margin-right: 15px; 
}

.menù :hover{
    cursor: pointer;
}

.sottomenù{
    text-decoration: none;
    color: lightgray;
}

/* jumbotron */
.banner {
    background-image: url(../img/banner.jpg);
    background-size: 100%;
    /*debug*/
    /* background-color: yellow; */
}
.message{
    color: white;
    padding: 200px 300px 40px 40px;
}


/*main*/
.article {
    margin-top: 30px;
    /*debug*/
    background-color: teal;
}

.s-head {
    margin-bottom: 20px;
    /*debug*/
    background-color: turquoise;
    height: 60px;
}

.widgets {
    width: 23%;
    float: left;
    /*debug*/
    background-color: turquoise;
    height: 600px;
}

.s-mid {
    width: 50%;
    float: left;
    margin: 0 2%;
    /*debug*/
    background-color: turquoise;
    height: 600px;
}

footer {
    margin: 15px 0px;
    /*debug*/
    height: 60px;
    background-color: purple;
}